<!DOCTYPE html>

%html
  %head
    <title>Beerchive</title>

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true

    <script type="text/javascript" src="//use.typekit.net/wyx2saj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    = csrf_meta_tags

  %body
    %header.application
      .wrapper
        %h1.logo
          = link_to "Beerchive", root_path
          %span
            = link_to "All beers", beers_path

        %nav
          - if signed_in?
            = link_to "New beer", new_beer_path, class:"add"
          - else
            = link_to "Sign in", sign_in_path
            = link_to "Sign up", sign_up_path

    %section.application
      .flash
        - flash.each do |key, value|
          %div{class: key}
            = value

      = yield

    %footer.application
      = link_to "Sign out", sign_out_path, method: :delete, class: "sign-out"
